@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.logo{
    @include centerFlex(space-between);
    gap:1rem;
  }
  .logo:hover span{
    color:aqua;
  }
  .dark .logo span{
    color: aqua;
  }
  .logo__img {
    max-width: 4.5rem;
    flex-basis: 10%;
  }