---
import { userData as data } from "@src/data/userData";
---

<a href="/" class="logo">
    <img
      class="logo__img"
      src={data.logo}
      alt={`lgoo de ${data.userName}`}
    />
    <h3>{data.name}<span>{data.lastName}</span></h3>
  </a>