---
import { socialIconsData } from "@src/data/socialIconsData"
---

<div class="social__container">
  {
    socialIconsData.map((data, index) => (
      <a href={data.link} class={`social__link social__link-${index+1}`} target="_blank">
        <iconify-icon
          class={`social__icon `}
          icon={data.icon}
          width="25"
          height="25"
        />
        <span class="social__tooltip">{data.name}</span>
      </a>
    ))
  }
</div>
