.footer{
    @include centerFlex(space-between);
    padding: 2rem ;
    background: v.$mainColor;
    min-height: 15dvh;
    &__list{
        display: flex;
        flex-direction: column;
        gap:1rem;

    }
}
