---
const { slug } = Astro.params;
import Layout from "@layouts/Layout.astro";
import { contributorsCardsData } from "@services/getContributorsCards" ;

// Obtiene los datos de los contribuidores
const { contributors } = await contributorsCardsData();

// Busca el contribuidor por URI
const contributor = contributors.find((contributor) => contributor.uri.includes(slug));

const contributorData = contributor
  ? {
      name: contributor.name || "Nombre no disponible",
      email: contributor.email || "Correo no disponible",
      github: contributor.github || "GitHub no disponible",
      linkedin: contributor.linkedin || "LinkedIn no disponible",
      rol: contributor.rol?.join(", ") || "Rol no disponible",
      youtube: contributor.youtube || "YouTube no disponible",
      profilepic: contributor.profilepic || "/default-profile-pic.png",
      description: contributor.description || "Descripción no disponible",
      banner: contributor.banner || " Banner no disponible",
      cv: contributor.cv || "CV no disponible",
    }
  : null;
  console.log(contributorData?.cv)
---

<Layout>
  {contributorData ? (
    <>
      <section style={`background-image:url(${contributorData.banner})`}>
      <h1>{contributorData.name}</h1>

      <img src={contributorData.profilepic} alt={`Foto de perfil de ${contributorData.name}`} />
      </section>

      <Fragment set:html={contributorData.description || ""}/>
    </>
  ) : (
    <h2>Contribuidor no encontrado 🦝</h2>
  )}
</Layout>
