.contributor {
  width: 100%;
  @include centerFlex(center, center);
  min-height: 100dvh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &__bg__blur {
    @include centerFlex(center, center);
    padding: 0 2rem;
    background: linear-gradient(to bottom, #140030 0%, #2d005a14 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100dvh;
    gap: 4rem;
  }
  &__image {
    width: 100%;
    max-width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 25rem;
    text-wrap: balance;
  }
  &__info > *:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  &__name {
    @include text-gradient("ligth");
    font-size: 8rem;
  }
  &__rol {
    font-size: 2.2rem;
    color: v.$ufo-green;
    font-weight: 800;
  }
  p {
    color: white !important;
    white-space: pre-line;
  }
}
.social__container--contributor {
  justify-content: start;
}
