---
import { fetchYouTubeVideos } from "@src/services/youtubeLatestVid";
import { YouTube } from "astro-embed";

const channelId = "UC36_js-krsAHAEAWpEDhHtw";
const videoData = await fetchYouTubeVideos(channelId);
const { thumbnail, guid } = videoData[0];
const videoId = guid.replace("yt:video:", "");
---

<script>
  import { loadVideo } from "@controllers/VideoModal.controller";
  loadVideo();
</script>

<section class="youtube__modal__box">
  <div class="modal__close__button"></div>
  <div class="modal__container">
    <YouTube
      id={videoId}
      class="latestVideoEmbed"
      poster={thumbnail}
      title="My Latest Youtube video"
    />
  </div>
</section>

<style is:global>
  lite-youtube {
    min-width: 100%;
    height: 100%;
  }
</style>

<style lang="scss">
  .youtube__modal__box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1200;
  }

  .modal__close__button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
  }

  .modal__container {
    position: absolute;
    width: 95%;
    max-width: 900px;
    height: 550px;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px #1d536e;
  }

  @media (max-width: 900px) {
    .modal__container {
      height: 500px;
    }
  }
  @media (max-width: 600px) {
    .modal__container {
      height: 400px;
    }
  }
  @media (max-width: 400px) {
    .modal__container {
      height: 350px;
    }
  }
</style>
