/* Rotate  */
@keyframes rotateCircle {
    from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
  }
  /* Add to children to prevent Rotate */
  @keyframes noRotate {
    from{
        transform: rotate(360deg);
      }
      to{
        transform: rotate(0deg);
      }
  }