@use "./variables" as v;
@import "./mixins";
@import "@sass/functions";
@import "@sass/animations";
@import "@atoms/Title/title";
@import "@atoms/Subtitle/subtitle";
@import "@atoms/SocialIcons/social-icons";
@import "@atoms/DividerBottom/divider-bottom";
@import "@atoms/DividerTop/divider-top";
@import "@atoms/YearButton/year-button";
@import "@atoms/BackgroundIconsFloat/bg-icons";
@import "@atoms/ButtonAbout/button-about";
@import "@atoms/BarraTerminal/barra-terminal";
@import '@atoms/ToastNotification/toast-notification';
@import "@molecules/BlogPost/post-card";
@import "@molecules/Header/header";
@import "@molecules/Footer/footer";
@import "@molecules/Carousel/carousel";
@import "@molecules/GithubCalendar/github-calendar";
@import "@molecules/CardTerminal/card-terminal";
@import "@molecules/CardPortfolio/card-portfolio";
@import "@molecules/ContactFormContent/contact-form";
@import "@organisms/Hero/hero";
@import "@organisms/Skills/skills";
@import "@organisms/About/about";
@import "@organisms/Portfolio/portfolio";
@import "@layouts/BackgroundGradient/background-gradient";
@import "@molecules/SocialCard/social-card";
@import "@organisms/Social/social";
@import "@molecules/CardContributor/card-contributtor";
@import "@pages/contributor/contributor";
:root {
  --text-color:  rgb(12 12 12)
  --secundary-color: #F1F1F1;
  --black:rgb(12 12 12);
  --white: #F1F1F1;
}

.dark{
  --text-color: #F1F1F1;
  --secundary-color: rgb(10, 10, 10);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
 }

html {
   margin: 0;
   font-size: 62.5%;
   font-optical-sizing: auto;

 }

 body {
   overflow-x: hidden;
   @include font-family("montserrat");
   color: v.$mainColor;
   background: v.$secundaryColor;
  }
 a {
   text-decoration: none;
   font-size: 1.6rem;
   color: var(--white) ;
  }

  p{

  font-size: 1.6rem;
}
 li {
   list-style: none;
 }

h2 {
  font-size: 2rem;
  color : v.$french-violet;
}
.MuiTooltip-tooltip {
  font-size: 1.2rem!important;
}