@use "./variables" as v;
@import "@atoms/Title/title";
@import "./mixins";
@import "@sass/functions";
@import "@sass/animations";
@import "@layouts/BackgroundGradient/background-gradient";
@import "@atoms/SocialIcons/social-icons";
@import "@molecules/Header/header";
@import "@organisms/Hero/hero";
@import "@atoms/DividerBottom/divider-bottom";
@import "@organisms/About/about";




* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
 }

html {
   margin: 0;
   font-size: 62.5%;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 }

 body {
   overflow-x: hidden;
   @include font-family("montserrat");
   color: v.$mainColor;
   background: v.$secundaryColor;
  }

  .dark body{
    color: v.$secundaryColor;
    background: v.$mainColor;

 }

 a {
   text-decoration: none;
   font-size: 1.6rem;
   color: v.$secundaryColor;
 }

 li {
   list-style: none;
 }
