@use "./variables" as v;
@import "./mixins";
@import "@sass/functions";
@import "@sass/animations";
@import "@atoms/Title/title";
@import "@atoms/SocialIcons/social-icons";
@import "@atoms/DividerBottom/divider-bottom";
@import "@atoms/DividerTop/divider-top";
@import "@atoms/YearButton/year-button";
@import "@atoms/BackgroundIconsFloat/bg-icons";
@import "@atoms/ButtonAbout/button-about";
@import "@molecules/Header/header";
@import "@molecules/Carousel/carousel";
@import "@molecules/GithubCalendar/github-calendar";
@import "@molecules/CardTerminal/card-terminal";
@import "@molecules/CardPortfolio/card-portfolio";
@import "@organisms/Hero/hero";
@import "@organisms/Skills/skills";
@import "@organisms/About/about";
@import "@organisms/Portfolio/portfolio";
@import "@layouts/BackgroundGradient/background-gradient";
@import "@molecules/CardDiscord/card-discord";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
 }

html {
   margin: 0;
   font-size: 62.5%;
   font-optical-sizing: auto;
 }

 body {
   overflow-x: hidden;
   @include font-family("montserrat");
   color: v.$mainColor;
   background: v.$secundaryColor;
  }

  .dark body{
    color: v.$secundaryColor;
    background: v.$mainColor;

 }

 a {
   text-decoration: none;
   font-size: 1.6rem;
   color: v.$secundaryColor;
 }
p{
  font-size: 1.6rem;
}
 li {
   list-style: none;
 }


.MuiTooltip-tooltip {
  font-size: 1.2rem!important;
}