@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.slider {
  width: 70%;
  margin: auto;
  height: auto;
  overflow-x: hidden;
  position: relative;
  padding: 3.5rem;
}

.slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right, #140030 0%, #2d005a14 100%);
}

.slider::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right, #140030 0%, #2d005a14 100%);
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slide__track {
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

.slide__track--skills {
  animation: scroll 19s linear infinite;
  width: calc(9.5rem * 30);
}

.slide__track--tools {
  animation: scroll-reverse 18s linear infinite reverse;
  width: calc(9.5rem * 18);
}

.slide__track:has(> .slide:hover) {
  animation-play-state: paused;
}

.slide {
  width: 7.5rem;
  height: 7.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ceacff3d;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.slide:hover {
  background: #ffffff;
  transform: scale(1.1) rotate(10deg);
}

.slide .tag {
  position: absolute;
  background: #240269;
  box-shadow: 0px 0px 3px 1px #3c03a5c4;
  color: $ufo-green;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.slide:hover .tag {
  transform: translateY(-6rem);
  opacity: 1;
}

@include respond-to("medium") {
  .slider {
    width: 90%;
  }

  .slider::before {
    left: 0;
    width: 50px;
  }

  .slider::after {
    width: 50px;
    right: 0;
  }
}
