@import "@atoms/ProfilePicture/profile-picture";
.hero {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.hero__container {
  @include centerFlex(space-evenly);
  gap: 10rem;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1300px;
}
.hero__content {
  @include centerFlex(flex-start);
  flex-direction: column;
  .hero__title {
    color: white;
    font-size: 7rem;
    @include respond-to("medium") {
      font-size: 5.8rem;
    }
  }
  span:hover {
    color: aqua;
  }
  .hero__slogan {
    color: v.$ufo-green;
    font-size: 2rem;
  }
}
