@use "@sass/mixins" as *;
@use "@sass/variables" as *;

@use "@atoms/ProfilePicture/profile-picture";

.hero {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-block: 75px;
  writing-mode: horizontal-tb;
}
.hero__container {
  @include centerFlex(space-evenly);
  gap: 10rem;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1300px;
  padding-block: 10rem;
  @include respond-to("medium"){
    gap:4rem;
  }
}
.hero__content {
  @include centerFlex(flex-start);
  flex-direction: column;
  .hero__title {
    color: white;
    font-size: 7rem;
    @include respond-to("medium") {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 3.9rem;
    }
    span{
      animation: flicker-v-2 3s ease;
    }
  }

  span:hover {
    color: aqua;

  }


  .text__container{
    display: inline-block;
  }
  .hero__slogan {
    @include text-gradient("ligth");
    color: $ufo-green;
    font-size: 2rem;
    letter-spacing:10px;
    border-right: 5px solid;
    width:100%;
    white-space:nowrap;
    overflow: hidden;
    animation:
      typing 2s steps(25),
      cursor .4s step-end infinite alternate;
      @media screen and (max-width:728px) {
        font-size: 1.8rem;
        letter-spacing: normal;
        animation: none;
        border-right: none;
      }
  }
}


.container__icons{
  @include respond-to("medium"){
    display: none;
  }
}
.dark .hero__title span{
  color: aqua;
  filter: drop-shadow(0 0 12px aqua);
}
/* animation cursor blinking */
@keyframes cursor {
  50%{
    border-color:transparent;
  }
}
/*  animation typing effect*/

@keyframes typing {
  from{
    width:0;
  }
}