---
import ProfilePicture from "@src/components/atoms/ProfilePicture/ProfilePicture.astro";
import { userData as data } from "@src/data/userData";
---



<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Hi! I'm {data.name}<span>{data.lastName}</span>🦝</h1>
      <div class="text__container">
        <p class="hero__slogan">≥{data.sloganHero1}</p>
      </div>
      <!-- redes sociales -->
    </div>
    <ProfilePicture/>
  </div>
</section>
