---
import BackgroundIconsFloat from "@src/components/atoms/BackgroundIconsFloat/BackgroundIconsFloat.astro";
import ProfilePicture from "@src/components/atoms/ProfilePicture/ProfilePicture.astro";
import SocialIcons from "@src/components/atoms/SocialIcons/SocialIcons.astro";
const { data } = Astro.props
---



<section class="hero">
  <BackgroundIconsFloat/>
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Hi! I'm {data.name}<span class="span__blink">{data.lastName}</span></h1>
      <div class="text__container">
        <p class="hero__slogan">≥{data.sloganHero1}</p>
      </div>
      <div class="container__icons">
        <SocialIcons/>
      </div>
    </div>
    <ProfilePicture data={data.profilePicture}/>
  </div>
</section>
