---
const { glow, text, glowSecondary } = Astro.props;
---

<p class="about__highlighted">
  {glow && <span class="about__highlighted--glow">{glow}</span>}
  {text}
  {
    glowSecondary && (
      <span class="about__highlighted--glow">{glowSecondary}</span>
    )
  }
</p>

<style lang="scss">
  @use "@sass/variables" as *;
  @use "@sass/mixins" as *;

  .about__highlighted {

    color: $mainColor;
    margin: 0.8rem 0;
    @include typography(1.6rem, normal, 400);
    &--glow{
      @include typography(1.6rem, 1.5, 700);
      @include text-gradient("dark");
    }
  }
</style>
