.card-social {

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 1rem;
  backdrop-filter: blur(17px);
  background: rgb(58 153 166 / 14%);
  height: 100%;
  border-radius: 18.5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.318);
  position: relative;
  overflow: hidden;
  border: 0.5px solid rgba(57, 255, 255, 0.2196078431);
  .card-social__title {
    @include text-gradient("ligth");
    font-size: 2.76rem;
    font-weight: bold;
  }
  .card-social__content{
    color: white;
    font-weight: 400;
    max-width: 321px;
    font-size: 1.7rem;
  }
  .card-social__link{
    @include text-gradient("ligth");
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: 700;
    &:hover{
      @include text-gradient("dark");
    }
  }
}

.card-social > *:not(:last-child, a) {
  margin-bottom: 1rem;
}



.card-social::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top,
    #4506ff 20%,
    rgb(62, 0, 149),
    #24034961 50%
  );
  background-size: 100%;
  opacity: .3;
  z-index: -1;
}
.card-social__image {
  z-index: -1;
  width: 210px;
  height: 170px;
  position: absolute;
  top: 34%;
  left: 63%;
  transform: rotate(30deg);
  transition: all 0.3s linear;
}

.card-social:hover .card-social__image {
  top: 33%;
  left: 53%;
  transform: rotate(0deg);
}

.social__background {
  background:  linear-gradient(180deg, rgb(20, 0, 48) 6%, rgba(34, 2, 80, 0.103) 10%), url("/img/cuadriculaDifuminada.png");
  background-size: cover;
  width: 100%;
  min-height: 100dvh;
  position: absolute;
  z-index: -1;
}
