.skills {
  background: v.$cetacean-purple;
  width: 100%;
  display: flex;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding-block: 17rem;
  .skills__container {
    @include centerFlex(center, flex-start);
    flex-direction: column;
    max-width: 1300px;
    .skills__info {
      @include centerFlex();
      align-self: center;
      flex-wrap: wrap-reverse;
      max-width: 950px;
      gap: 7rem;
      .skills__description {
        @include font-family("textos");
        flex: 1;
        color: #f1f1f1;
        font-size: 1.7rem;
        max-width: 52rem;
        line-height: 1.5;
        align-self: center;
      }
    }
  }
}

.skills__carousel--tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 5rem;
  h2{
    margin-left: 22rem;
  }
}
