---
import { menuData } from "@data/menuData";
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/HamburgerBtn.astro";
---

<script>
import "@controllers/hamburger.js";
</script>

<header class="header">
  <div class="header__container blur">
    <Logo/>
    <nav class="header__menu">
      <ul class="header__list">
        {
          menuData.map((data) => (
            <li class="header__item">
              <a class="header__link" href={data.enlace}>
                {data.texto}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <HamburgerButton/>
  </div>
</header>
