#portfolio {
  display: grid;
  place-items: center;

  width: 100%;
}

.card__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  overflow-x: hidden;
  gap: 3rem;
  padding-block: 20rem;
  writing-mode: horizontal-tb;
  place-content: center;
  align-content: center;
  max-width: 1140px;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  @include respond-to("small") {
    grid-template-columns: 1fr;
    width: unset;
  }
}
