---
import Subtitle from "@src/components/atoms/Subtitle/Subtitle.astro";
const discordData  = {
  title: "Join our Discord community",
  content: "Connect with web developers, share resources, and get help on your frontend projects.",
  link: "https://discord.com/invite/VYDj8pvfE4",
  image: "../img/icons/DiscordLogo.svg",
};

---

<div class="card-social__container">
<Subtitle content="Join our Discord community" />
  <p class="card-social__content">
    Connect with web developers, share resources, and get help on your frontend
    projects.
  </p>
  <a class="card-social__link" href="https://discord.com/invite/VYDj8pvfE4" target="_blank" rel="noreferrer noopener nofollow">
    Join our community <iconify-icon
      icon="quill:link-out"
      width="15"
      height="15"
      style="color: aqua"></iconify-icon></a
  >
  <img
    class="card-social__image"
    src="../img/icons/DiscordLogo.svg"
    alt="Discord logo"
  />
</div>
