@use "@sass/variables" as *;
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: #1c0161;
    color: $ufo-green;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .year__btn.is-active {
    background: #150022;
  }