@use "@sass/mixins" as *;
@use "@sass/variables" as *;

  .caja__cristal {
    overflow: hidden;
    background: black;
    color: $ufo-green;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 100rem;
    min-width: 30rem;
    height: auto;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
    z-index: 200;
  }

  .terminal__container {
    padding: 17px 10px;
    z-index: 200;
  }


  .caja__cristal img {
    max-width: 100%;
  }
  .caja__cristal h1 {
    font-size: 2.5rem;
  }



  @media (min-width: 768px) {
    .caja__cristal{
      padding: 0 2rem 2rem 2rem;
  }
  }