---
import BarraTerminal from "@atoms/BarraTerminal/BarraTerminal.astro";
const {animation} = Astro.props;
---

<div class="caja__terminal" data-aos={animation} >
  <BarraTerminal />
  <div class="caja__cristal caja__dark">
    <slot />
  </div>
</div>