---
import BaseHead from "@components/BaseHead.astro";
import Layout from "@src/layouts/Layout.astro";
import { Content as Documentation } from "@data/documentation.md";
import Title from "@atoms/Title/Title";
import {contributorsCardsData} from '@services/getContributorsCards';
import CardContributor from "@src/components/atoms/CardContributor/CardContributor.astro";
---

<Layout>
  <main>
    <!-- <Documentation /> -->

     <section class="contributtors">
       <Title titleDesc="Our Top Contributtors" clase="title-dark about__title" />
      <div class="contributtors__container">
        <CardContributor/>
      </div>
     </section>
  </main>
</Layout>

<style lang="scss" is:global>
  .about__title{
    text-align: center;
  }
  main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top:7rem ;
    flex-direction: column;
    margin: 0 auto;
  }
  hr{
    border: none;
  }
  h1{
    font-size: 4rem;
    margin-bottom: 2rem;
  }
</style>
