---
import BackgroundGradient from "@src/layouts/BackgroundGradient/BackgroundGradient.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@atoms/Title/Title";
import Header from "@molecules/Header/Header.astro";
---
<Layout>
    <BackgroundGradient>
        <Header/>

    </BackgroundGradient>
    <section class="about">

    </section>
</Layout>
