---
import BackgroundGradient from "@src/layouts/BackgroundGradient/BackgroundGradient.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@atoms/Title/Title";

---
<Layout>

    <BackgroundGradient/>

    <section class="about">

    </section>
</Layout>
