.about {
  width: 100%;
  padding-block: 20rem;
  writing-mode: horizontal-tb;
  @include centerFlex();
  flex-direction: column;
  color: v.$mainColor;
  .about__container {
    max-width: 1300px;
    width: 100%;
    @include centerFlex(space-around);
    @include respond-to("medium") {
      flex-direction: column;
      gap: 3rem;
      padding: 0 2rem;
    }
    .about__profile {
      position: relative;

      @media screen and (max-width: 1194px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      .profile__box {
        width: 37.9rem;
        height: 37.9rem;
        border-radius: 50%;
        border: 2px solid v.$ufo-green;
        overflow: hidden;
        @include respond-to("medium") {
          width: 100%;
          height: 100%;
          max-width: 25rem;
        }
        .profile__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }
    }
    .about__content {
      max-width: 532px;
      p {
        font-size: 1.6rem;
        white-space: pre-line;
      }
    }
  }
}

.dark {
  .about {
    background: v.$mainColor;
    color: v.$secundaryColor;
  }
}
