@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.about {
  width: 100%;
  padding-block: 10rem;
  writing-mode: horizontal-tb;
  @include centerFlex();
  flex-direction: column;
  color: $mainColor;
  &__container {
    max-width: 1300px;
    width: 100%;
    @include centerFlex(space-around);
    @include respond-to("medium") {
      flex-direction: column;
      gap: 3rem;
      padding: 0 2rem;
    }
    .about__profile {
      position: relative;

      @media screen and (max-width: 1194px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      .profile__box {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        border: 2px solid $ufo-green;
        overflow: hidden;
        @include respond-to("medium") {
          width: 100%;
          height: 100%;
          max-width: 25rem;
        }
        &:hover img{
            filter: saturate(.45);

        }
        &__image{
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }
    }
    .about__content {
      max-width: 532px;
      h3{
        margin: 1rem 0;
        @include typography(2.4rem, normal, 700);
        @include text-gradient("dark");
      }
      .about__description {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        white-space: pre-line;
      }
    }
  }
}
