---
import { userData as data } from "@src/data/userData";
import Title from "@atoms/Title/Title";
---

<section class="about" id="about">
  <article class="about__container">
    <div class="about__profile">
      <img
        src={data.aboutPicture}
        alt=""
        class="profile__img"
        width="100"
        height="100"
      />
      <a
        class="about__links about__links--cv"
        href={data.cv}
        class="link lin-cv"
        target="_blank"
      >
        <iconify-icon
          class="about__iconify"
          icon="uil:arrow-up-left"
          width="25"
          height="25"></iconify-icon>
        Download CV
        <iconify-icon
          class="about__iconify"
          icon="iwwa:file-pdf"
          width="25"
          height="25"></iconify-icon>
      </a>
      <a
        class="about__links about__links--email"
        href=`mailto:${data.email}`
        class="link lin-email"
      >
        <iconify-icon
          class="about__iconify"
          icon="uil:arrow-up-left"
          width="25"
          height="25"></iconify-icon>
        email
        <iconify-icon
          class="about__iconify"
          icon="material-symbols:mail"
          width="25"
          height="25"></iconify-icon>
      </a>
    </div>
    <div class="about__content">
      <Title titleDesc="About Me" clase="title-dark" />
      <p>{data.about}</p>
    </div>
  </article>
</section>
