---
import { userData as data } from "@src/data/userData";
import Title from "@atoms/Title/Title";
import ButtonAbout from "@atoms/ButtonAbout/ButtonAbout.astro";
import Calendar from "@src/components/molecules/GithubCalendar/Calendar";
---

<section class="about" id="about">
  <article class="about__container">
    <div class="about__profile">
      <div class="profile__box">
        <img
          src={data.aboutPicture}
          alt=""
          class="profile__img"
          width="100"
          height="100"
        />
      </div>
      <ButtonAbout data={data.cv}  text="Download cv" clase="cv"/>
      <ButtonAbout data={data.cv}  text="email" clase="email"/>
    </div>
    <div class="about__content">
      <Title titleDesc="About Me" clase="title-dark" />
      <p>{data.about}</p>
    </div>
  </article>
  <Calendar  client:only/>


</section>
