.image__container {
  position: relative;
  @include centerFlex();
  flex-direction: column;
}

.image__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 34rem;
  max-height: 34rem;
  border-radius: 50%;
  background: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.image__button:hover .hero__img {
  transform: scale(0.95);
}
.image__button:active .hero__img {
  transform: scale(0.9);
}
.hero__img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  @include respond-to("medium") {
    width: 26rem;
  }
}

.icon__container {
  position: absolute;
  filter: drop-shadow(0 0 12px rgba(124, 88, 255, 0.622));
  background-size: contain;
  width: 50px;
  height: 50px;
  padding: 3.5rem;
  display: grid;
  place-content: center;
}

.hero__skills {
  @include centerFlex();
}

.skills__icons {
  transform: rotate(0deg);
  font-size: 4.5rem;
  @include respond-to("medium") {
    font-size: 4rem;
  }
}

.skill-0 {
  top: -13%;
  right: 41%;
  animation:
    from-top 1s ease-in-out forwards 0.4s,
    floating 5s ease-in-out 2s infinite;
  transform: translateX(-1600px) scale(6.2);
  @include respond-to("medium") {
    animation: floating 5s ease-in-out 2s infinite;
    transform: none;
    top: -11%;
    right: 38%;
  }
}
.skill-1 {
  top: 9%;
  left: 78%;
  animation:
    from-rigth 1s ease-in-out forwards 0.4s,
    floating 5s ease-in-out 1.5s infinite;
  transform: translateX(-1600px) scale(6.2);
  @include respond-to("medium") {
    top: 10%;
    left: 74%;
    animation: floating 5s ease-in-out 1.9s infinite;
    transform: none;
  }
}
.skill-2 {
  bottom: 26%;
  left: 87%;
  animation:
    from-rigth 1s ease-in-out forwards 0.3s,
    floating 5s ease-in-out 3.2s infinite;
  transform: translateX(-1600px) scale(6.2);
  @include respond-to("medium") {
    left: 77%;
    transform: none;
    animation: floating 5s ease-in-out 3.2s infinite;;
  }
}
.skill-3 {
  bottom: -6%;
  right: 19%;
  animation:
    from-bottom 1s ease-in-out forwards 0.2s,
    floating 5s ease-in-out 2.1s infinite;
  transform: translateX(-1600px) scale(6.2);
  @include respond-to("medium") {
    animation:floating 5s ease-in-out 2.1s infinite;
    transform: none;
  }
}
.skill-4 {
  bottom: -5%;
  left: 19%;
  animation:
    from-left 1s ease-in-out forwards 0.4s,
    floating 5s ease-in-out 1.2s infinite;
  transform: translateX(-9600px) scale(6.2);
  @include respond-to("medium") {
    animation:floating 5s ease-in-out 1.2s infinite;
    transform: none;
  }
}
.skill-5 {
  bottom: 22%;
  left: -8%;
  animation:
    from-left 1s ease-in-out forwards 0.2s,
    floating 5s ease-in-out 1s infinite;
  transform: translateX(-9600px) scale(6.2);
  @include respond-to("medium") {
    left: -3%;
    animation:  floating 5s ease-in-out 1s infinite;
    transform: none;
  }
}
.skill-6 {
  animation:
    from-left 1s ease-in-out forwards 0.2s,
    floating 5s ease-in-out 2.1s infinite;
  transform: translateX(-9600px) scale(6.2);
  bottom: 64%;
  right: 78%;
  @include respond-to("medium") {
    animation:  floating 5s ease-in-out 2.1s infinite;
    transform: none;
    bottom: 61%;
    right: 74%;
  }
}


