---
const { data } = Astro.props;
import { skillsData } from "@src/data/skillsData";

---

<script  >
    import { profilePicture } from "@src/controllers/profileImage.controller.js";
    import { shuffle, buttonShuffle} from "@controllers/shuffleSkills.controller.js"
    import {clickHandler} from "@controllers/shuffleBtnCounter.controller";
  </script>

<div class="image__container">
    <button class="image__button">
                <img
                src={data}
                id="profile-picture"
                class="hero__img hero-profile-img"
                alt="Profile Picture"
                />
  </button>
  <div class="hero__skills ">
      <!-- Iconos rendered by a template string -->

    </div>
</div>