@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.social {
  padding-block: 10rem;
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  overflow-x: hidden;
  background-color: $cetacean-purple;
  background: linear-gradient(
    180deg,
    rgb(20, 0, 48) 6%,
    rgba(34, 2, 80, 0.103) 10%
  ),
  url("/img/cuadricula.svg");
  background-size: cover;
  @media screen and (max-width: 980px) {
    min-height: 200%;
    overflow: hidden;
    height: auto;
  }
}
.social__grid {
      padding: 0 1rem;
      max-width: 1140px;
      display: grid;
      align-content: center;
      grid-template-columns: repeat(8, minmax(100px, 1fr));
      grid-template-rows: repeat(5, minmax(90px, auto));
      width: 100%;
      gap: 24px;
      grid-template-areas:
          "CardDiscord CardDiscord CardDiscord CardDiscord CardYoutube CardYoutube CardYoutube CardYoutube"
          "CardDiscord CardDiscord CardDiscord CardDiscord CardYoutube CardYoutube CardYoutube CardYoutube"

          "CardContact CardContact CardContact CardContact CardContact CardVsc CardVsc CardVsc"
          "CardContact CardContact CardContact CardContact CardContact CardVsc CardVsc CardVsc"
          "CardContact CardContact CardContact CardContact CardContact CardVsc CardVsc CardVsc";
}


@media (max-width: 1002px) {
  .social__grid {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 1rem 2rem;
  }

  /* Asegurar que todos los elementos ocupen el 100% de la columna */
  .social__grid > * {
    width: 100%;
  }
}
.social__item {
  width: 100%;
}
.social__item-1 {
  grid-area: CardDiscord;
}
.social__item-2 {
  grid-area: CardYoutube;
}
.social__item-3 {
  grid-area: CardContact;
}
.social__item-4 {
  grid-area: CardVsc;
}
.social__title {
  margin-bottom: 2rem;
}
