---
import Title from "@atoms/Title/Title";
import SocialCard from "@molecules/SocialCard/SocialCard.astro";
---

<section id="social" class="social">
  <Title
    titleDesc="Find me on   My social media"
    clase="title-dark social__title"
  />

  <div class="social__grid">
    <div class="social__item social__item-1">
      <SocialCard>
        <h3 class="card-social__title">Join our Discord community</h3>
        <p class="card-social__content">
          Connect with web developers, share resources, and get help on your
          frontend projects.
        </p>
        <a class="card-social__link" href="/">
          Join our community <iconify-icon
            icon="quill:link-out"
            width="15"
            height="15"
            style="color: aqua"></iconify-icon></a
        >
        <img
          class="card-social__image"
          src="../img/icons/DiscordLogo.svg"
          alt="Discord logo"
        />
      </SocialCard>
    </div>
    <div class="social__item social__item-2">
      <SocialCard>

      </SocialCard>
    </div>
    <div class="social__item social__item-3">
      <SocialCard>

      </SocialCard>
    </div>
    <div class="social__item social__item-4">
      <SocialCard>

      </SocialCard>
    </div>
  </div>
  <div class="social__background">

  </div>
</section>
