---
import Title from "@atoms/Title/Title";
import SocialCard from "@molecules/SocialCard/SocialCard.astro";
import DiscordCardContent from "@molecules/DiscordCardContent/DiscordCardContent.astro";
import YoutubeCardContent from "@molecules/YoutubeCardContent/YoutubeCardContent.astro";
import YoutubeModal from "@molecules/YoutubeModal/YoutubeModal.astro";
import ContactFormMain from "@molecules/ContactFormContent/ContactFormMain.astro";
import ToastNotification from "@src/components/atoms/ToastNotification/ToastNotification.astro";
import BlogPost from "@src/components/molecules/BlogPost/BlogPost";
---

<section id="social" class="social">
  <Title
    titleDesc="Find me on   My social media"
    clase="title-dark social__title"
  />

  <div class="social__grid">
    <div class="social__item social__item-1">
      <SocialCard>
        <DiscordCardContent />
      </SocialCard>
    </div>
    <div class="social__item social__item-2">
      <SocialCard extrClass="youtube__card">
        <YoutubeCardContent />
      </SocialCard>
    </div>
    <div class="social__item social__item-3">
      <SocialCard>
        <ContactFormMain />
      </SocialCard>
    </div>
    <div class="social__item social__item-4">
      <SocialCard >
        <BlogPost
          server:defer
        />
      </SocialCard>
    </div>
  </div>
  <YoutubeModal />
</section>
<ToastNotification />
