---
---
<script>
  import { theme } from "@src/controllers/themeToggle.controller";
</script>

<button id="themeToggle">
  <iconify-icon
    class="sun"
    icon="line-md:sun-rising-loop"
    width="32"
    height="32"
    style="color: #ad8700"></iconify-icon>
  <iconify-icon
    class="moon"
    icon="line-md:moon-loop"
    width="27"
    height="27"
    style="color: #00ffff"></iconify-icon>
</button>

<style lang="scss">
  @use "@sass/variables" as v;
  #themeToggle {
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    margin-right: 3rem;
    top: 86%;
    right: 0;
    border-radius: 50%;
    border: 2px solid v.$french-violet;
    background: rgba(29, 29, 29, 0.121);
    backdrop-filter: blur(30px);
    cursor: pointer;
    z-index: 30;
    transition: transform 0.3s ease-in-out;
  }
  #themeToggle:active {
    transform: scale(0.5);
  }
  .sun {
    display: block;
  }
  .moon {
    display: none;
  }

  :global(.dark) .sun {
    display: none;
  }
  :global(.dark) .moon {
    display: block;
  }
</style>
