---
import { getRelativeLocaleUrl } from 'astro:i18n';



---

<script>
    const enFlag = document.querySelector(".flag-en");
    const toggleLang = document.querySelector(".toggleLang");
    const en = "emojione:flag-for-us-outlying-islands";
    const es = "emojione:flag-for-mexico";

    // Función para establecer el ícono del idioma según el idioma almacenado
    function setLanguageIcon() {
        const currentLanguage = localStorage.getItem("language");
        if (currentLanguage === "en") {
            enFlag.setAttribute("icon", en);
        } else {
            enFlag.setAttribute("icon", es);
        }
    }

    // Event listener para alternar el idioma y actualizar el almacenamiento local
    toggleLang.addEventListener("click", () => {
        if (enFlag.getAttribute("icon") === en) {
            enFlag.setAttribute("icon", es);
            localStorage.setItem("language", "es");
        } else {
            enFlag.setAttribute("icon", en);
            localStorage.setItem("language", "en");
        }
    });

    // Verifica si el idioma ya está establecido en el almacenamiento local, si no, establecerlo en el idioma preferido del usuario
    if (!localStorage.getItem("language")) {
        const userLanguage = navigator.language.split("-")[0];
        localStorage.setItem("language", userLanguage);
    }
    // Establecer el ícono del idioma al cargar la página
    setLanguageIcon();
</script>

<a href={getRelativeLocaleUrl('es', '/')} class="toggleLang">
    <iconify-icon
        class="flag flag-en"
        icon="emojione:flag-for-us-outlying-islands"
        width="23"
        height="23"></iconify-icon>
</a>
