---
import Subtitle from "@src/components/atoms/Subtitle/Subtitle.astro";
---

<Subtitle content="Get in touch with Me " />
<form method="POST" novalidate>
  <div>
    <label for="name">Your Name: * </label>
    <input type="text" id="name" name="name" required />
    <div class="error__msg">{}</div>
  </div>

  <div>
    <label for="email">Your Email: *</label>
    <input type="email" id="email" name="email" required />
    <div class="error__msg">{}</div>
  </div>

  <div>
    <label for="subject">Subject: *</label>
    <input type="text" id="subject" name="subject" required />
   <div class="error__msg">{}</div>
  </div>

  <div>
    <label for="message">Message: *</label>
    <textarea id="message" name="message" rows="4" required></textarea>
  </div>

  <button class="form__submit" type="submit" value="Send" >Send</button>
  <div class="error__msg-validate"></div>
</form>


<script>
  const formulario = document.querySelector('form') as HTMLFormElement
  const email = document.getElementById('email') as HTMLInputElement
  const name = document.getElementById('name') as HTMLInputElement
  const subject = document.getElementById('subject') as HTMLInputElement
  const message = document.getElementById('message') as HTMLTextAreaElement

  formulario.addEventListener('submit', async (e) => {
    e.preventDefault()

    const formatFecth = `${import.meta.env.PUBLIC_BACKEND_URL}/?name=${name.value}&email=${email.value}&message=${message.value}`

    const res = await fetch(formatFecth, {method:"GET"})
    const data : {status: number, message: string} = await res.json()

    console.log("Status:", data.status)
    console.log("Message:", data.message)

    // con la informacion de la respuesta del backend aqui puedes manejar las alertas
  })

</script>