---
import Subtitle from "@src/components/atoms/Subtitle/Subtitle.astro";
import { sendEmail } from "server";
let errors = { name: "", email: "", message: "", subject: "" };
let successMessage = "";

  // cala esto aver si sirve sofi

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name")?.toString();
    const email = data.get("email")?.toString();
    const message = data.get("message")?.toString();
    const subject = data.get("subject")?.toString();

    // Validation logic
    if (!name) {
      errors.name = "Name is required";
    }
    if (!email || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
      errors.email = "Valid email is required";
    }
    if (!message) errors.message = "Message is required";
    if (!subject) errors.subject = "Subject is required";

    const hasErrors = Object.values(errors).some((msg) => msg);

    if (!hasErrors) {
      const payload = {
        name,
        email,
        html: message,
        subject,
      };
      await sendEmail(payload);
      successMessage = "Email sent successfully!";
      console.log("Email sent successfully");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      try {
        const response = await fetch(form.action, {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const result = await response.json();
          console.log(result.message || "Form submitted successfully!");
          // Aquí puedes manejar el resultado de manera dinámica, por ejemplo:
          // Mostrar un mensaje de éxito, limpiar el formulario, etc.
        } else {
          console.error("Form submission failed.");
        }
      } catch (error) {
        console.error("Error submitting the form:", error);
      }
    });
  });
</script>

<Subtitle content="Get in touch with Me " />
<form method="POST" action="/" novalidate>
  <div>
    <label for="name">Your Name: * </label>
    <input type="text" id="name" name="name" required />
    <div class="error__msg">{errors.name}</div>
  </div>

  <div>
    <label for="email">Your Email: *</label>
    <input type="email" id="email" name="email" required />
    {errors && <div class="error__msg">{errors.email}</div>}
  </div>

  <div>
    <label for="subject">Subject: *</label>
    <input type="text" id="subject" name="subject" required />
    {errors && <div class="error__msg">{errors.subject}</div>}
  </div>

  <div>
    <label for="message">Message: *</label>
    <textarea id="message" name="message" rows="4" required></textarea>
    {errors && <div class="error__msg">{errors.message}</div>}
  </div>

  <input class="form__submit" type="submit" value="Send" />
</form>
