---
import Subtitle from "@src/components/atoms/Subtitle/Subtitle.astro";
import Button from "@atoms/Button/Button.astro";
import Loader from "@src/components/atoms/Loader/Loader.astro";
---

<script>
  import { formValidation } from "../../../controllers/ValidationForm";

  formValidation();
</script>

<Subtitle content="Get in touch with Me" />
<form class="contact" method="POST" novalidate>
  <div class="form__group form__group-name">
    <label for="name">Your Name and Last Name: * </label>
    <input type="text" id="name" name="name" required />
    <span class="error__msg" id="nameError"></span>
  </div>
  <div class="form__container">
    <div class="form__group form__group-email">
      <label for="email">Your Email: *</label>
      <input type="email" id="email" name="email" required />
      <span class="error__msg" id="emailError"></span>
    </div>
    <div class="form__group form__group-subject">
      <label for="subject">Subject: *</label>
      <input type="text" id="subject" name="subject" required />
      <span class="error__msg" id="subjectError"></span>
    </div>
  </div>

  <div class="form__group form__group-message">
    <label for="message">Message: *</label>
    <textarea id="message" name="message" rows="4" required></textarea>
    <span class="error__msg" id="messageError"></span>
  </div>
  <Loader />
  <Button content="Send" type="submit" id="button-send-email-form" />
</form>
