---
import { userData as data } from "@src/data/userData"


---
<script>
    const btncerrar = document.querySelector(".btn__red");
    const terminalPopover = document.querySelector(".popup");
    btncerrar.addEventListener("click", () => {
            terminalPopover.close() ;
        })
</script>

<div class="terminal_toolbar">
    <div class="butt">
        <div class="btn btn__red btn-color"></div>
        <div class="btn btn__yellow"></div>
        <div class="btn btn__green"></div>
    </div>
    <p class="user">{data.userName}@admin: ~</p>
</div>