---
const {data, text,clase} = Astro.props;
---

<a
class={`about__links about__links--${clase}`}
href={data.cv}
class="link "
target="_blank"
>
<iconify-icon
  class="about__iconify"
  icon="uil:arrow-up-left"
  width="25"
  height="25"></iconify-icon>
{text}
<iconify-icon
  class="about__iconify"
  icon="iwwa:file-pdf"
  width="25"
  height="25"></iconify-icon>
</a>