---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "@molecules/Header/Header.astro";
import ButtonToTop from "@src/components/atoms/ButtonToTop/ButtonToTop.astro";

---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <ThemeIcon />
    <ButtonToTop />
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
