---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "@molecules/Header/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <ThemeIcon />
    <Header/>
    <main>
      <slot />
    </main>
  </body>
</html>


<style type="sass">
  main{

    padding-top:4rem ;
  }

</style>