.contributors__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 253px);
  gap: 4.2rem;
  place-content: center;
  align-content: center;
  padding: 0 1rem;
  width: 100%;
  justify-items: center;
  @include respond-to("small") {
    grid-template-columns: 1fr;
    width: unset;
  }
}

.card__contributor {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 1px 1px 6px -1px rgba(43, 43, 43, 0.768627451);
    min-height: 41.6dvh;
    align-items: center;
    overflow: hidden;
}
.card__contributor__profile__pic{
    width: 108px;
    height: 108px;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}
.card__contributor__banner{
    background-image: url(https://blog-sofi.api-wordpress.tech/contributor/rickytodev/photo-by-jplenio/);
    background-size: cover;
    width: 100%;
    height: 101px;
    background-position: center;
    position: relative;
}
