@use "@sass/mixins" as *;
@use "@sass/variables" as *;

@use "@atoms/SocialCardImage/social-card-image";

.card-social {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 1rem;
  backdrop-filter: blur(5px);
  background: rgba(10, 103, 131, 0.189);
  width: 100%;
  height: 100%;
  border-radius: 18.5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.318);
  position: relative;
  overflow: hidden;
  border: 0.5px solid rgba(57, 255, 255, 0.305);
  transition:background 0.5s ease-in-out;

  .card-social__container{
    min-height: 25dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .card-social__content{
    color: white;
    font-weight: 400;
    max-width: 321px;
    font-size: 1.7rem;
  }
  .card-social__link{
    @include text-gradient("ligth");
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: 700;
    &:hover{
      @include text-gradient("dark");
    }
  }
}

.card-social > *:not(:last-child, a) {
  margin-bottom: 1rem;
}



.card-social::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top,
    #501deb 10%,
    rgba(82, 30, 253, 0.654),
    #2403492c 45%
  );
  background-size: 100%;
  opacity: .3;
  z-index: -1;
}


@include respond-to("medium"){
  .card-social {
    padding: 1rem;

    .card-social__content{
      font-size: 1.5rem;
    }
  }

}