@use "@sass/mixins" as *;
@use "@sass/variables" as *;

@use "@atoms/Logo/logo";
@use "@atoms/hamburgerBtn/hamburger";


.header {
  @include centerFlex();
  width: 100%;
  position: fixed;
  padding: 0 2rem;
  z-index: 1000;
  &__container {
    backdrop-filter: blur(20px);
    @include centerFlex(space-between);
    width: 100%;
    min-height: 8dvh;
    margin-top: 2rem;
    max-width: 1200px;
    background: black;
    background: rgba(0, 0, 0, 0.613);
    border-radius: 16px;
    padding: 1rem 2rem;
  }

  &__list > *:not(a) {
    margin-right: 1.5rem;
    .header__link {
      display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    @include respond-to("medium") {
      margin-bottom: 2rem;
      .header__link {
        font-size: 2rem;
      }
    }
  }
  &__menu {
    @include centerFlex(flex-start);
    .header__list {
      display: flex;
      align-items: center;
      .header__icons {
        display: none;
        @include respond-to("medium") {
          display: block;
        }
      }
    }
  }

  .header__link {
    font-weight: bold;
    &:hover {
      @include text-gradient("ligth");
    }
  }
  .header__link {
    position: relative;
  }

  .header__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 2px;
    transition: 0.35s transform;
    background: $ufo-green;
  }

  .header__link:hover::after {
    transform: scale(1);
  }
}

@include respond-to("medium") {
  .header {
    padding: 0 1rem;
    .header__container {
      justify-content: space-between;
      align-self: center;
      width: 95%;
      height: auto;
      margin-top: 1.5rem;
      min-width: 24rem;
      padding: 0.8rem 1rem;
    }
    .header__container:has(.header__menu.is-active) {
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }
    &__menu {
      transition: all 0.6s ease;
      position: absolute;
      transform: translateX(100%);
      left: 0;
      top: 0;
      width: 100vw;
      height: 100dvh;
      padding-left: 3rem;
      .header__list {
        width: 100%;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 14rem;
      }
    }
  }

  .header__menu.is-active {
    transform: translateX(0%);
    background: black;
    background: rgba(0, 0, 0, 0.734);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px 0 0 30px;
  }
}

.dark {
  .header__link {
    color: aqua;
  }
}
