---
// Importaciones necesarias
import { menuData } from "@data/menuData";
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/HamburgerBtn.astro";
import SocialIcons from "@atoms/SocialIcons/SocialIcons.astro";
const pagePathname = Astro.url.pathname;
const { blog } = Astro.props;
---

<script>
  import "@src/controllers/hamburger.controller.js";
</script>

<header class="header">
  <div class="header__container blur">
    <Logo />
    <nav class="header__menu">
      <ul class="header__list">
        {pagePathname !== "/" && (
          <li class="header__item">
            <a class="header__link" href="/">Home</a>
          </li>
        )}
        {menuData.map((data) => (
          <li class="header__item" >
            <a
              class="header__link"
              href={data.enlace}
              target={data.enlace.includes("blog") ? "_blank" : "_self"}
            >
              {data.texto}
              {data.enlace.includes("blog") && <iconify-icon icon="iconamoon:link-external" width="19" height="19"  style="color: #00c8f0"></iconify-icon>}
            </a>
          </li>
        ))}
        <div class="header__icons">
          <SocialIcons  isAnimated={false}/>
        </div>
      </ul>
    </nav>
    <HamburgerButton />
  </div>
</header>
