---
import { menuData } from "@src/data/menuData";
import getUserInfo from "@controllers/getUserData";
---


<script>
import "@controllers/hamburger.js";
</script>

<header class="header">
  <div class="header__container blur">
    <img
      class="header__logo"
      src={getUserInfo.logo}
      alt={`lgoo de ${getUserInfo.userName}`}
    />
    <nav class="header__menu">
      <ul class="header__list">
        {
          menuData.map((data) => (
            <li class="header__item">
              <a class="header__link" href={data.enlace}>
                {data.texto}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
