---
import { menuData } from "@data/menuData";
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/HamburgerBtn.astro";
import SocialIcons from "@atoms/SocialIcons/SocialIcons.astro";
import LanguageFlag from "@src/components/atoms/LanguageFlag/LanguageFlag.astro";
const pagePathname = Astro.url.pathname;
---

<script>

  import "@src/controllers/hamburger.controller.js";
</script>

<header class="header">
  <div class="header__container blur">
    <Logo />
    <nav class="header__menu">
      <ul class="header__list">
        { pagePathname !== "/"
       &&
       <li class="header__item">
        <a class="header__link" href="/">Home</a>
        </li>
        }
        {
          menuData.map((data) => (
            <li class="header__item">
              <a class="header__link" href={data.enlace}>
                {data.texto}
              </a>
            </li>
          ))
        }
        <LanguageFlag />
        <div class="header__icons">
          <SocialIcons />
        </div>
      </ul>
    </nav>
    <HamburgerButton />
  </div>
</header>
