@use "@app/sass/_variables" as *;
@use "@app/sass/_mixins" as *;




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  font-size: 62.5%;
  font-optical-sizing: auto;

}

html:has(dialog[open]) {
  overflow: hidden;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  @include font-family("montserrat");
  color: $mainColor;
  background: $secundaryColor;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white);
}

p {

  font-size: 1.6rem;
}

li {
  list-style: none;
}

h2 {
  font-size: 2rem;
  color: rgb($french-violet);
}

.MuiTooltip-tooltip {
  font-size: 1.2rem !important;
}