@use "@app/sass/variables" as *;

@keyframes move {
	100% {
		transform: translate3d(0, 0, 20px) rotate(360deg);
	}
}

.bg-icons {
	display: none;
}

.customScheme .bg-icons {
	display: block;
	background-color: rgb(15, 1, 27);
	position: absolute;
	width: 105vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	filter: blur(3px);
	opacity: 0.45;
}

.customScheme .bg-icons .bg-icon-item {
	position: absolute;
	top: var(--top);
	left: var(--left);
	width: var(--size);
	height: var(--size);
	font-size: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	animation: move var(--duration) linear infinite var(--delay);
	transform-origin: var(--origin-x) var(--origin-y);
	color: $french-violet;
	filter: drop-shadow(0 0 10px rgba(102, 0, 204, 0.4));
}